# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover

#vs
/.vs/dotnetCore_pgsql/DesignTimeBuild
/.vs/dotnetCore_pgsql/v15/sqlite3
/.vs/dotnetCore_pgsql/v15/Server/sqlite3
/dotnetCore_pgsql/bin/Debug/netcoreapp2.1
/Common/bin/Debug/netcoreapp2.1
# 这是注释行，将被忽略  
# *.a       # 忽略所有以.a为扩展名的文件      
# !lib.a    # 但是名为lib.a的文件或目录不要忽略，即使前面设置了对*.a的忽略  
# /TODO     # 只忽略此目录下的TODO文件，子目录中的TODO文件不忽略  
# build/    # 忽略所有build目录下的文件，但如果是名为build的文件则不忽略  
# doc/*.txt # 忽略文件如doc/notes.txt，但是文件如doc/server/arch.txt不忽略  

# git rm -r --cached .
# git add .
# git commit -m update .gitignore
/.vs/dotnetCore_pgsql/v16/Server/sqlite3
/.vs/dotnetCore_pgsql/v16/TestStore/0
/.vs/Meta/v16/Server/sqlite3
/.vs/Meta/DesignTimeBuild
